* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}
html {
  font-size: 62.5%;
}
:root {
  --main-color: #127fff;
  --btn-text-color: #ffffff;
  --main-text-color: #505050;
  --heading-text-color: #1c1c1c;
  --light-text-color: #8b96a5;
  --main-background_color: #f7fafc;
}
/* header*/
.header {
  width: 100%;
  height: auto;
  padding: 2rem 8rem;
  display: flex;
  background-color: var(--btn-text-color);
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--light-text-color);
  position: sticky;
  top: 0;
  z-index: 1000;
}
.header_left {
  width: 20%;
  margin-right: 2rem;
}
.header_middle {
  width: 60%;
}
.searchbar {
  position: relative;
  left: 0.3rem;
  width: 75%;
  height: 4rem;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
  font-size: 1.6rem;
  border-top: 2px solid var(--light-text-color);
  border-left: 2px solid var(--light-text-color);
  border-bottom: 2px solid var(--light-text-color);
  border-right: none;
  outline: none;
  padding: 1rem;
  color: var(--light-text-color);
}
.searchbar:focus {
  border-color: var(--light-text-color);
}
.search_btn {
  width: 20%;
  height: 4rem;
  border-bottom-right-radius: 1rem;
  border-top-right-radius: 1rem;
  font-size: 1.6rem;
  background-color: var(--main-color);
  border: 2px solid var(--main-color);
  color: var(--btn-text-color);
  cursor: pointer;
  padding: 0.5rem;
}
.header_right {
  width: 20%;
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.common_icon {
  font-size: 1.6rem;
}
.common_icon a {
  text-decoration: none;
  color: var(--light-text-color);
}
.icon {
  margin: 0 0 0.5rem 1rem;
}
/* navbar */
.home_navbar {
  width: 100%;
  height: 5.6rem;
  background-color: var(--btn-text-color);
  padding: 2rem 8rem;
  border-bottom: 1px solid var(--light-text-color);
}
.navbar_ul {
  list-style: none;
  display: flex;
  gap: 3rem;
}
.navbar_li {
  font-size: 1.6rem;
  border-bottom: 1px solid transparent;
  transition: border-color 0.5s ease-in-out;
}
.navbar_li a {
  text-decoration: none;
  color: var(--heading-text-color);
}
.navbar_li:hover {
  border-bottom: 1px solid var(--light-text-color);
}

/* main */
.main {
  width: 100%;
  height: auto;
  padding: 4rem 8rem;
  background-color: var(--main-background_color);
}
.main_inner {
  width: 100%;
  background-color: var(--btn-text-color);
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  padding: 2rem;
  display: flex;
  gap: 2rem;
}
.main_left {
  width: 75%;
}
.banner_img {
  width: 100%;
  height: 40rem;
  border-radius: 1rem;
}
.main_left_headings {
  z-index: 1;
  position: absolute;
  top: 30rem;
  left: 15rem;
}
.main_heading {
  font-size: 3.5rem;
  color: var(--heading-text-color);
  margin-bottom: 2rem;
  letter-spacing: 1px;
}
.shopnow_btn {
  width: 12rem;
  height: 4rem;
  background-color: var(--btn-text-color);
  border: none;
  color: var(--main-text-color);
  border-radius: 1rem;
  cursor: pointer;
  font-size: 1.6rem;
}
.main_right {
  width: 25%;
}
.main_right_1 {
  width: 100%;
  height: 19rem;
  background-color: var(--main-background_color);
  border-radius: 1rem;
  padding: 2rem;
  margin-bottom: 1rem;
}
.main_right_1_div {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
}
.main_right_1_div_para {
  font-size: 1.6rem;
}
.Joinnow_btn {
  width: 100%;
  height: 4rem;
  background-color: var(--main-color);
  color: var(--btn-text-color);
  border-radius: 1rem;
  border: none;
  font-size: 1.6rem;
  cursor: pointer;
}
.login_btn {
  margin-top: 1rem;
  background-color: var(--btn-text-color);
  color: var(--main-color);
}
.main_right_2 {
  width: 100%;
  height: 9.5rem;
  padding: 2rem;
  background-color: #f38332;
  font-size: 1.6rem;
  color: var(--btn-text-color);
  border-radius: 1rem;
  margin-bottom: 1rem;
}
.main_right_3 {
  background-color: #55bdc3;
  width: 100%;
  height: 9.5rem;
  padding: 2rem;
  font-size: 1.6rem;
  color: var(--btn-text-color);
  border-radius: 1rem;
}
/* deals and offer */
.deals_offer {
  padding: 0rem 8rem;
  background-color: var(--main-background_color);
  width: 100%;
  height: auto;
}
.deals_offer_inner {
  width: 100%;
  height: 24rem;
  display: flex;
  align-items: center;
  border-radius: 1rem;
}
.deals_offer_left {
  width: 25%;
  height: 100%;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  background-color: var(--btn-text-color);
}
.d_o_l_date {
  display: flex;
  gap: 0.5rem;
  margin-top: 2rem;
}
.d_o_l_h3 {
  font-size: 2rem;
  margin-bottom: 0.2rem;
  color: var(--heading-text-color);
}
.d_o_l_p {
  font-size: 1.6rem;
  color: var(--light-text-color);
}
.d_o_l_date_common {
  background-color: #606060;
  padding: 1rem;
  width: 4.5rem;
  text-align: center;
  color: var(--btn-text-color);
  border-radius: 0.5rem;
}
.d_o_l_date_common_p1 {
  font-size: 1.6rem;
}
.d_o_l_date_common_p2 {
  font-size: 1.2rem;
}
.deals_offer_right {
  width: 75%;
  display: flex;
  justify-content: space-evenly;
  background-color: var(--main-background_color);
}
.d_o_r_common {
  text-align: center;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  padding: 2rem 2rem;
  background-color: var(--btn-text-color);
}
.d_o_r_common_img {
  width: 13rem;
  aspect-ratio: 1;
  margin-bottom: 1rem;
}
.d_o_r_common_p1 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.d_o_r_common_p2 {
  width: 5rem;
  display: inline-block;
  padding: 1rem;
  background-color: #ffe3e3;
  color: #eb001b;
  border-radius: 2rem;
  font-size: 1.4rem;
}
.d_o_r_last {
  border: none;
}
/* home nd outdoor style */

.home_outdoor {
  width: 100%;
  height: auto;
  padding: 2rem 8rem 0 8rem;
  background-color: var(--main-background_color);
}
.home_outdoor_inner {
  width: 100%;
  height: 25rem;
  background-color: var(--btn-text-color);
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  display: flex;
}
.h_o_left {
  width: 25%;
  height: 100%;
  background-image: url(./assets/Image/backgrounds/Group\ 969.png);
  background-size: cover;
  padding: 2rem;
}
.h_o_left_second {
  width: 25%;
  height: 100%;
  background-image: url(./assets/Image/backgrounds/image\ 98.png);
  background-size: cover;
  padding: 2rem;
}
.h_o_h3 {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.h_o_btn {
  width: 13rem;
  height: 4rem;
  background-color: var(--btn-text-color);
  border-radius: 1rem;
  border: none;
  font-size: 1.6rem;
  cursor: pointer;
}
.h_o_right_arrow {
  display: none;
  margin-left: 0.5rem;
}
.h_o_right {
  width: 75%;
  border-radius: 1rem;
  height: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.h_o_right_item {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  border: 1px solid rgba(27, 31, 35, 0.15);
  background-color: var(--btn-text-color);
}
.h_o_right_p1 {
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
}
.h_o_right_p2 {
  font-size: 1.3rem;
  color: var(--light-text-color);
}
.h_o_right_item_img {
  margin-top: 2rem;
}
/* supplier style */
.supplier {
  padding: 2rem 8rem;
  width: 100%;
  height: auto;
  background-color: var(--main-background_color);
}
.supplier_inner {
  background-image: url(./assets/Image/backgrounds/Group\ 982.png);
  background-size: cover;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  width: 100%;
  height: auto;
  padding: 2rem;
}
.supplier_left {
  width: 40%;
}
.supplier_left h2 {
  font-size: 3.2rem;
  color: var(--btn-text-color);
  margin-bottom: 1.5rem;
  letter-spacing: 1px;
}
.supplier_left p {
  font-size: 1.6rem;
  color: var(--btn-text-color);
  letter-spacing: 1px;
  line-height: 1.5;
}
.supplier_right {
  width: 50%;
  height: auto;
  background-color: var(--btn-text-color);
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  padding: 2rem;
}
.supplier_form_heading {
  width: 100%;
  font-size: 2rem;
  margin-bottom: 2rem;
}
.supplier_input1 {
  width: 100%;
  height: 4rem;
  border-radius: 1rem;
  border: 2px solid var(--light-text-color);
  color: var(--light-text-color);
  outline: none;
  margin-bottom: 2rem;
  font-size: 1.6rem;
  padding: 1rem;
}
.supplier_input1:focus {
  border-color: var(--light-text-color);
}
.supplier_msg_input {
  width: 100%;
  height: 8rem;
}
.supplier_form_btn {
  width: 12.8rem;
  height: 4rem;
  border-radius: 1rem;
  font-size: 1.6rem;
  border: none;
  background-color: var(--main-color);
  color: var(--btn-text-color);
}
/* recommended style */
.recommended {
  padding: 2rem 8rem;
  background-color: var(--main-background_color);
}
.recommended_item_heading {
  font-size: 2.4rem;
  padding-left: 1rem;
}
.r_bottom {
  width: 100%;
  height: auto;
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}
.r_b_item {
  width: 22rem;
  height: 31rem;
  padding: 2rem;
  background-color: var(--btn-text-color);
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.r_b_item_img {
  width: 18rem;
  aspect-ratio: 1;
  margin-bottom: 2rem;
}
.r_b_item_price {
  font-size: 1.6rem;
  color: var(--main-text-color);
  margin-bottom: 1rem;
}
.r_b_item_details {
  font-size: 1.6rem;
  color: var(--light-text-color);
}

/* our extra service style */
.our_extra_service {
  width: 100%;
  height: auto;
  padding: 2rem 8rem;
  background: var(--main-background_color);
}
.o_e_s_heading {
  margin-bottom: 2rem;
}
.o_e_s_cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-content: center;
  gap: 2rem;
}
.o_e_s_common {
  width: 100%;
  height: auto;
  background-color: var(--btn-text-color);
  border-radius: 1rem;
}
.o_e_s_c_img img {
  width: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.o_e_s_c_detail {
  font-size: 1.6rem;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}
.o_e_s_c_detail p {
  letter-spacing: 1.2px;
  line-height: 1.2;
}
.o_e_s_c_logo {
  width: 5rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--main-background_color);
  place-content: center;
  text-align: center;
  position: relative;
  bottom: 4.5rem;
  border: 2px solid var(--btn-text-color);
}

/* supplier by region style */
.supplier_by_region {
  padding: 2rem 8rem;
  width: 100%;
  height: auto;
  background-color: var(--main-background_color);
}
.s_b_r_heading {
  font-size: 2.4rem;
  margin-bottom: 2rem;
}
.s_b_r_cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}
.s_b_r_common {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.s_b_r_c_para1 {
  font-size: 1.6rem;
  color: var(--heading-text-color);
}
.s_b_r_c_para2 {
  font-size: 1.3rem;
  color: var(--light-text-color);
}
.s_b_r_c_img img {
  width: 2.8rem;
  height: 2rem;
}
/* subscribe our news letter */
.subscribe_newsletter {
  padding: 2rem 8rem;
  background-color: #eff2f4;
}
.subscribe_newsletter_inner {
  width: 100%;
  height: auto;
}
.s_n_heading {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: var(--heading-text-color);
  width: 100%;
  text-align: center;
}
.s_n_para {
  width: 100%;
  font-size: 1.6rem;
  color: var(--light-text-color);
  margin-bottom: 2rem;
  text-align: center;
}
.s_n_i_input {
  width: 27rem;
  height: 4rem;
  border-radius: 1rem;
  border: 2px solid var(--light-text-color);
  outline: none;
  font-size: 1.6rem;
  padding: 1rem;
  margin-right: 1rem;
}
.s_n_i_btn {
  width: 11rem;
  height: 4rem;
  border-radius: 1rem;
  background-color: var(--main-color);
  border: none;
  color: var(--btn-text-color);
  font-size: 1.6rem;
  cursor: pointer;
}
.s_n_email {
  width: 100%;
  display: flex;
  justify-content: center;
}
.s_n_i_input:focus {
  border-color: var(--light-text-color);
}
/* subscribe our news letter */

/* footer */
.footer {
  width: 100%;
  height: auto;
  padding: 2rem 8rem;
  background-color: var(--btn-text-color);
}
.footer_inner {
  width: 100%;
  height: auto;
  display: grid;
  justify-content: space-evenly;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}
.footer_middle {
  display: flex;
  gap: 5rem;
  justify-content: space-evenly;
}
.footer_right {
  margin-left: 5rem;
}
.f_r_para {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}
.p_r_img1 {
  display: block;
  margin-bottom: 1rem;
}
.f_m_common {
  width: 9rem;
}
.f_m_common_para_heading {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}
.f_m_common_para {
  font-size: 1.6rem;
  color: var(--light-text-color);
  line-height: 1.5;
}
.f_m_common_para a {
  text-decoration: none;
  color: var(--light-text-color);
  border-bottom: 1px solid transparent;
  transition: border-color 0.5s ease-in-out;
}
.f_m_common_para a:hover {
  border-bottom: 1px solid var(--light-text-color);
}
.f_l_logo {
  margin-bottom: 1rem;
}
.f_l_para {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}
.f_l_icons {
  width: 100%;
}
.f_l_common_icon {
  display: inline-block;
  place-self: center;
  width: 3.8rem;
  aspect-ratio: 1;
  background-color: #bdc4cd;
  border-radius: 50%;
  padding: 1rem;
  margin-right: 1rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.f_l_common_icon i {
  color: var(--btn-text-color);
  font-size: 1.6rem;
}
.f_l_common_icon:hover {
  transform: scale(1.1);
}
/* news letter form submit message style */
.s_n_form_msg {
  width: 20rem;
  height: 5rem;
  padding: 1rem;
  border: 2px solid rgb(72, 241, 72);
  place-self: center;
  transform: translateY(-10rem);
  animation: formsubscribe 2s ease-in-out;
  z-index: 2000;
  position: fixed;
  top: 0;
}
.s_n_form_msg p {
  color: rgb(72, 241, 72);
  font-size: 1.6rem;
  text-align: center;
}
@keyframes formsubscribe {
  form {
    transform: translateY(-10rem);
  }
  to {
    transform: translateY(2rem);
  }
}
/* news letter form submit message style */
/* responsive style  */
@media (width<1120px) {
  .deals_offer_inner {
    display: block;
    height: auto;
  }
  .deals_offer_left {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }
  .deals_offer_right {
    width: 100%;
    flex-wrap: wrap;
    gap: 1rem;
  }
  .h_o_right {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    width: 100%;
  }
  .home_outdoor_inner {
    display: block;
    background-color: transparent;
    box-shadow: none;
  }
  .h_o_left {
    width: 100%;
    height: auto;
    background-image: none;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .h_o_btn {
    background-color: transparent;
    border: none;
    color: var(--main-color);
    cursor: pointer;
  }
  .h_o_h3 {
    font-size: 2.5rem;
    margin: 0;
  }
  .home_outdoor_inner {
    height: auto;
  }
  .r_bottom {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .d_o_l_date {
    margin-top: 0rem;
  }
  .footer_inner {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-between;
  }
  .footer_left {
    margin-left: 1rem;
  }
  .footer_middle {
    display: flex;
    flex-wrap: wrap;
  }
  .footer_right {
    display: none;
  }
}
@media (width<1065px) {
  .remove_deal_item {
    display: none;
  }
}
@media (width<992px) {
  .main_inner {
    flex-wrap: wrap;
  }
  .main_left {
    width: 100%;
  }
  .main_right {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    width: 100%;
  }
  .main_right_2 {
    height: 19rem;
  }
  .main_right_3 {
    height: 19rem;
  }
}
@media (width<1034px) {
  .r_b_item {
    width: 19rem;
    height: 30rem;
    padding: 2rem;
  }
  .r_b_item_img {
    width: 16rem;
    aspect-ratio: 1;
    margin-bottom: 2rem;
  }
}
@media (width<768px) {
  .header {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 5rem;
  }
  .header_left {
    order: 1;
  }
  .header_middle {
    order: 3;
    width: 100%;
    margin-top: 1rem;
  }
  .header_right {
    order: 2;
    width: 50%;
    justify-content: right;
  }
  .main_right {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  .main {
    padding: 4rem 5rem;
  }
  .banner_img {
    height: 36rem;
  }
  .main_left_headings {
    z-index: 1;
    position: absolute;
    top: 35rem;
    left: 12rem;
  }
  .main_heading {
    font-size: 2.5rem;
  }
  .deals_offer {
    padding: 0 5rem;
  }
  .home_outdoor {
    padding: 0rem 5rem;
  }
  .supplier {
    padding: 2rem 5rem;
  }
  .supplier_inner {
    display: block;
  }
  .supplier_left {
    width: 100%;
    margin-bottom: 2rem;
  }
  .supplier_right {
    width: 100%;
  }
  .r_b_item {
    width: 17rem;
    height: 27rem;
    padding: 2rem;
  }
  .r_b_item_img {
    width: 13rem;
    aspect-ratio: 1;
    margin-bottom: 2rem;
  }
  .recommended {
    padding: 2rem 4rem;
  }
  .our_extra_service {
    padding: 2rem 5rem;
  }
  .supplier_by_region {
    padding: 2rem 5rem;
  }
  .s_b_r_cards {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
  .subscribe_newsletter {
    padding: 2rem 5rem;
  }
  .footer {
    padding: 2rem 5rem;
  }
  .home_navbar {
    padding: 2rem 5rem;
  }
}
@media (width<735px) {
  .main_right_2 {
    height: 10rem;
  }
  .main_right_3 {
    height: 10rem;
  }
}
@media (width<645px) {
  .r_b_item {
    width: 14rem;
    height: 26rem;
  }
  .r_bottom {
    gap: 1rem;
  }
  .r_b_item_img {
    width: 10rem;
    aspect-ratio: 1;
    margin-bottom: 2rem;
  }
}
@media (width<576px) {
  .header {
    padding: 1rem 1rem;
  }
  .header_right {
    justify-content: right;
  }
  .searchbar {
    width: 68%;
  }
  .search_btn {
    width: 30%;
  }
  .main_inner {
    padding: 0rem;
    box-shadow: none;
    border-radius: 0;
    background-color: var(--main-background_color);
  }
  .main {
    padding: 2rem 0rem;
  }
  .main_left_headings {
    z-index: 1;
    position: absolute;
    top: 26rem;
    left: 3rem;
  }
  .banner_img {
    height: 25rem;
    border-radius: 0;
  }
  .main_right {
    display: none;
  }
  .main_heading {
    font-size: 1.8rem;
  }
  .shopnow_btn {
    width: 9rem;
    height: 3rem;
  }
  .deals_offer {
    padding: 0;
  }
  .deals_offer_left {
    border-radius: 0;
    padding: 1rem;
  }
  .remove_seconds {
    display: none;
  }
  .d_o_r_common {
    padding: 1rem;
  }
  .d_o_r_common_img {
    width: 12rem;
    aspect-ratio: 1;
  }
  .home_outdoor {
    padding: 0rem 0rem;
  }
  .h_o_left {
    padding: 1rem;
  }
  .main_right {
    grid-template-columns: repeat(2, 1fr);
  }
  .h_o_h3 {
    font-size: 2rem;
  }
  .supplier {
    padding: 2rem 0rem;
  }
  .supplier_inner {
    padding: 1rem;
  }
  .supplier_right {
    padding: 1rem;
  }
  .recommended {
    padding: 2rem 0rem;
  }
  .our_extra_service {
    padding: 2rem 1rem;
  }
  .supplier_by_region {
    padding: 2rem 1rem;
  }
  .subscribe_newsletter {
    padding: 2rem 1rem;
  }
  .s_n_i_input {
    width: 24rem;
  }
  .s_n_i_btn {
    width: 10rem;
    padding: 1rem;
  }
  .footer {
    padding: 2rem 1rem;
  }
  .footer_middle {
    gap: 5rem;
  }
  .f_m_common {
    width: 10rem;
  }
  .home_navbar {
    padding: 2rem 1rem;
  }
  .navbar_ul {
    justify-content: center;
    gap: 2rem;
  }
}
@media (width<454px) {
  .r_b_item {
    width: 15.5rem;
    height: 27rem;
  }
  .r_bottom {
    gap: 1rem;
  }
  .r_b_item_img {
    width: 12rem;
    aspect-ratio: 1;
    margin-bottom: 2rem;
  }
}
